.nav {
    padding-top: 20px;
}

.layer1 {
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    width: 85vw;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 3px solid #D4D4D4;
}

.layer1 .phone {
    display: flex;
    align-items: center;
}

.layer1 .group1 {
    margin-left: 10vw;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layer1 .group2 {
    margin-left: 20vw;
    display: flex;
    gap: 5vw;
}

.layer2 {
    display: flex;
    align-items: center;
    width: 85vw;
    margin: auto;
    padding-top: 10px;
}

.layer2 .group1 {
    display: flex;
    margin-left: 10vw;
}

.layer2 .group1 a {
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1.5rem;
    padding-left: 1vw;
    padding-right: 1vw;
    color: black;
}

.layer2 input {
    margin-left: 19vw;
    width: 15vw;
    background-color: #DFDFDF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.layer2 .search {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.layer2 img {
    transform: translateX(-150%);
    cursor: pointer;
}
